* {
    font-family: cursive;
}

.menu-class{
    box-shadow: 2px 2px;
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.my-row {
    display: flex;
    justify-content: center;

}



.recibimiento {
    margin-top: 1em;
    background-color: #cead53;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px;

}

h1 {
    font-size: 2.5em;
}

.my-col {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}


.row-home {
    margin-top: em;
    background-color: #cead53;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px;
}
.imagen-inicio{
    box-shadow: 5px 5px;
    border-radius: 10px 10px;
}

input,
textarea {
    border: 2px solid black;
    border-radius: 10px;
}





body {
    background-color: #295733e7;
}

.menu-desplegable {
    background-color: #cead53 !important;
    font-family: cursive;


}

.my-carta {
    margin-top: 1em;
    background-color: #cead53;
    border-radius: 2px;
    box-shadow: 2px 2px 2px;
}

.imagen-final {
    border-radius: 5px 5px;
    box-shadow: 5px 5px;
    width: 35vw;
    
}

.row-contacto {
    margin: 1em;
    display: flex;
    align-items: center;
}



/* estilos para las imagenes*/

.edgeAndShadow {
    border-radius: 1em;
    box-shadow: 5px 5px ;
}

.zoom{
    transition: transform .2s; 
}
.zoom:hover  {
    transform: scale(1.3); 
    text-decoration: underline;
    color: white;
}

/* estilos para el pie de página*/


.footer {
    background-color: rgba(202, 186, 186, 0.325);
}
.redes-footer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    
}

a{
    color: black;
}
.link{
    text-decoration: none;
}

.horarios{
    padding: 2em;
    display: flex;

}