* {
    font-family: cursive;
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.my-row {
    display: flex;
    justify-content: center;

}



.recibimiento {
    margin-top: 1em;
    font-family: cursive;
    background-color: #cead53;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px;

}

h1 {
    font-size: 2.5em;
}

.my-col {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}


.row-home {
    margin-top: em;
    background-color: #cead53;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px;
}

input,
textarea {
    border: 2px solid black;
    border-radius: 10px;
}





body {
    background-color: #295733;
}

.menu-desplegable {
    background-color: #cead53 !important;
    font-family: cursive;


}

.pimiento {
    border-radius: 2em;
    box-shadow: 5px 5px 5px 5px;
}

.my-carta {
    margin-top: 1em;
    background-color: #cead53;
    border-radius: 2px;
    box-shadow: 2px 2px 2px;
}

.imagen-final {
    border-radius: 5px 5px;
    box-shadow: 5px 5px;

}

.row-contacto {
    margin: 1em;
    display: flex;
    align-items: center;
}



.footer {
    background-color: rgba(202, 186, 186, 0.325);
}